body  {
	background-color: rgb(230,230,230);
	color: #575F7D;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: lighter;
	background: white;
}

h1, h2 {
	font-family:'Oxygen', sans-serif;
}

h1 {
	color: #69B380;
	font-weight: 900;
	letter-spacing: 2px;
	font-size: 32px;
	text-transform: bold;
}

h2 {
	color: rgb(76, 173, 107);
	font-size:22px;
	font-weight: lighter;
	font-weight: 500px;
}

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;	
	color: #6B72E1;
	font-weight: bold;
	font-weight: 600;
	font-size: 16px;
}

a:hover {
	color: purple;
}	

a:visited {
	color: rgb(112, 54, 109);
}		

div {
	background: white;
	border: 2px black;
	margin: 10px;
}

.container {
	width:700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

@media (max-width: 350px) {
	.container {
		width: 300px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.logo {
	height: 128px;
	width: 128px;
	border-radius: 50%;
}

.shadowed {
	box-shadow: 5px 5px 5px white;
}

.btn-blue {
	background-color:  #6B72E1;
	color: white;
	padding: 15px 20px;
	width: 200px;
	height: 40px;
	border-radius: 4px;
	margin: 0 auto;
}

.btn-blue:hover {
	background-color: rgb(112, 54, 109);
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i:hover{ 
	color: black;
}

.img-size {
	width: 48px; 
	height: 48px;
}

#introduction p {
	margin-bottom: 40px;
}

